
body
{
font-family: Arial, Helvetica, sans-serif;
}
table
{
border-collapse:collapse;
width:70%;
}
table,th, td
{
border: 1px solid black;
}
td{
padding:15px;
color:black;
background-color:#FFF491;
}
th
{
background-color:#CD74AE;
color:black;
}

#td
{
background-color: pink;
}

#th
{
background-color: #AA00AA;
}

#td.alt
{
background-color: lightblue;
}