<TABLE border=1>
<TR> <TH> \textbf{Variable} </TH> <TH> \textbf{Levels} </TH> <TH> $\mathbf{n}$ </TH> <TH> $\mathbf{\%}$ </TH> <TH> $\mathbf{\sum \%}$ </TH>  </TR>
  <TR> <TD> Antecedentes DM </TD> <TD> No </TD> <TD align="right"> 410 </TD> <TD align="right"> 87.8 </TD> <TD align="right"> 87.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Si </TD> <TD align="right"> 57 </TD> <TD align="right"> 12.2 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 467 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Antecedentes HAS </TD> <TD> No </TD> <TD align="right"> 374 </TD> <TD align="right"> 80.1 </TD> <TD align="right"> 80.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Si </TD> <TD align="right"> 93 </TD> <TD align="right"> 19.9 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 467 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Etapa Clinica </TD> <TD> 0 </TD> <TD align="right"> 2 </TD> <TD align="right"> 0.5 </TD> <TD align="right"> 0.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> I </TD> <TD align="right"> 40 </TD> <TD align="right"> 9.2 </TD> <TD align="right"> 9.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> IIa </TD> <TD align="right"> 74 </TD> <TD align="right"> 17.0 </TD> <TD align="right"> 26.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> IIb </TD> <TD align="right"> 77 </TD> <TD align="right"> 17.7 </TD> <TD align="right"> 44.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> IIIa </TD> <TD align="right"> 98 </TD> <TD align="right"> 22.5 </TD> <TD align="right"> 66.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> IIIb </TD> <TD align="right"> 66 </TD> <TD align="right"> 15.2 </TD> <TD align="right"> 82.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> IIIc </TD> <TD align="right"> 18 </TD> <TD align="right"> 4.1 </TD> <TD align="right"> 86.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> IV </TD> <TD align="right"> 60 </TD> <TD align="right"> 13.8 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 435 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> T Clinica </TD> <TD> T0 </TD> <TD align="right"> 3 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 0.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> T1 </TD> <TD align="right"> 68 </TD> <TD align="right"> 16.1 </TD> <TD align="right"> 16.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> T2 </TD> <TD align="right"> 153 </TD> <TD align="right"> 36.2 </TD> <TD align="right"> 53.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> T3 </TD> <TD align="right"> 84 </TD> <TD align="right"> 19.9 </TD> <TD align="right"> 72.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> T4a </TD> <TD align="right"> 8 </TD> <TD align="right"> 1.9 </TD> <TD align="right"> 74.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> T4b </TD> <TD align="right"> 55 </TD> <TD align="right"> 13.0 </TD> <TD align="right"> 87.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> T4c </TD> <TD align="right"> 5 </TD> <TD align="right"> 1.2 </TD> <TD align="right"> 88.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> T4d </TD> <TD align="right"> 37 </TD> <TD align="right"> 8.8 </TD> <TD align="right"> 97.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Tx </TD> <TD align="right"> 10 </TD> <TD align="right"> 2.4 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 423 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> N Clinica </TD> <TD> N0 </TD> <TD align="right"> 100 </TD> <TD align="right"> 23.7 </TD> <TD align="right"> 23.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> N1 </TD> <TD align="right"> 171 </TD> <TD align="right"> 40.5 </TD> <TD align="right"> 64.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> N2 </TD> <TD align="right"> 110 </TD> <TD align="right"> 26.1 </TD> <TD align="right"> 90.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> N3 </TD> <TD align="right"> 37 </TD> <TD align="right"> 8.8 </TD> <TD align="right"> 99.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Nx </TD> <TD align="right"> 4 </TD> <TD align="right"> 0.9 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 422 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> M Clinica </TD> <TD> M0 </TD> <TD align="right"> 304 </TD> <TD align="right"> 71.9 </TD> <TD align="right"> 71.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> M1 </TD> <TD align="right"> 51 </TD> <TD align="right"> 12.1 </TD> <TD align="right"> 83.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> Mx </TD> <TD align="right"> 68 </TD> <TD align="right"> 16.1 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 423 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Tipo Histologico </TD> <TD> Ductal </TD> <TD align="right"> 366 </TD> <TD align="right"> 79.0 </TD> <TD align="right"> 79.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Lobulillar </TD> <TD align="right"> 55 </TD> <TD align="right"> 11.9 </TD> <TD align="right"> 90.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> Mixto </TD> <TD align="right"> 17 </TD> <TD align="right"> 3.7 </TD> <TD align="right"> 94.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Otros </TD> <TD align="right"> 25 </TD> <TD align="right"> 5.4 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 463 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Grado Nuclear </TD> <TD> Alto </TD> <TD align="right"> 203 </TD> <TD align="right"> 51.5 </TD> <TD align="right"> 51.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> Bajo </TD> <TD align="right"> 57 </TD> <TD align="right"> 14.5 </TD> <TD align="right"> 66.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Intermedio </TD> <TD align="right"> 134 </TD> <TD align="right"> 34.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 394 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> HER2 </TD> <TD> 0 </TD> <TD align="right"> 316 </TD> <TD align="right"> 70.7 </TD> <TD align="right"> 70.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> 1+ </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.2 </TD> <TD align="right"> 70.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> 2+ </TD> <TD align="right"> 54 </TD> <TD align="right"> 12.1 </TD> <TD align="right"> 83.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> 3+ </TD> <TD align="right"> 76 </TD> <TD align="right"> 17.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 447 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> FISH </TD> <TD> Negativo ratio <2.2 </TD> <TD align="right"> 0 </TD> <TD align="right"> 0.0 </TD> <TD align="right"> 0.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Positivo </TD> <TD align="right"> 23 </TD> <TD align="right"> 100.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 23 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> PVL </TD> <TD> Negativo </TD> <TD align="right"> 359 </TD> <TD align="right"> 77.0 </TD> <TD align="right"> 77.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Positivo </TD> <TD align="right"> 107 </TD> <TD align="right"> 23.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 466 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Tipo QT </TD> <TD> Adyuvante </TD> <TD align="right"> 133 </TD> <TD align="right"> 34.9 </TD> <TD align="right"> 34.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> Neoadyuvante </TD> <TD align="right"> 195 </TD> <TD align="right"> 51.2 </TD> <TD align="right"> 86.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Paliativo </TD> <TD align="right"> 53 </TD> <TD align="right"> 13.9 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 381 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Esquema QT </TD> <TD> 13 </TD> <TD align="right"> 3 </TD> <TD align="right"> 0.6 </TD> <TD align="right"> 0.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> 14 </TD> <TD align="right"> 2 </TD> <TD align="right"> 0.4 </TD> <TD align="right"> 1.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> 16 </TD> <TD align="right"> 4 </TD> <TD align="right"> 0.9 </TD> <TD align="right"> 1.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> CISCA </TD> <TD align="right"> 6 </TD> <TD align="right"> 1.3 </TD> <TD align="right"> 3.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> FAC-T </TD> <TD align="right"> 232 </TD> <TD align="right"> 49.8 </TD> <TD align="right"> 53.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> FAC-TH </TD> <TD align="right"> 55 </TD> <TD align="right"> 11.8 </TD> <TD align="right"> 64.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> GPla_ADPlat </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.2 </TD> <TD align="right"> 65.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> No QT </TD> <TD align="right"> 93 </TD> <TD align="right"> 20.0 </TD> <TD align="right"> 85.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Otros </TD> <TD align="right"> 59 </TD> <TD align="right"> 12.7 </TD> <TD align="right"> 97.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> T-FAC </TD> <TD align="right"> 5 </TD> <TD align="right"> 1.1 </TD> <TD align="right"> 98.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAC </TD> <TD align="right"> 2 </TD> <TD align="right"> 0.4 </TD> <TD align="right"> 99.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> TC </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.2 </TD> <TD align="right"> 99.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> TH-FAC-H </TD> <TD align="right"> 3 </TD> <TD align="right"> 0.6 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 466 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Respuesta QT </TD> <TD> Enfermedad Estable </TD> <TD align="right"> 26 </TD> <TD align="right"> 10.6 </TD> <TD align="right"> 10.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Progresion </TD> <TD align="right"> 33 </TD> <TD align="right"> 13.5 </TD> <TD align="right"> 24.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Respuesta completa </TD> <TD align="right"> 41 </TD> <TD align="right"> 16.7 </TD> <TD align="right"> 40.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Respuesta Parcial </TD> <TD align="right"> 145 </TD> <TD align="right"> 59.2 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 245 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Cirugia </TD> <TD> No </TD> <TD align="right"> 105 </TD> <TD align="right"> 22.5 </TD> <TD align="right"> 22.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> Si </TD> <TD align="right"> 362 </TD> <TD align="right"> 77.5 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 467 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Tipo Cirugia </TD> <TD> Conservadora </TD> <TD align="right"> 40 </TD> <TD align="right"> 11.1 </TD> <TD align="right"> 11.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Radical </TD> <TD align="right"> 322 </TD> <TD align="right"> 89.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 362 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Respuesta Mama </TD> <TD> Completa </TD> <TD align="right"> 60 </TD> <TD align="right"> 34.3 </TD> <TD align="right"> 34.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> Residual </TD> <TD align="right"> 115 </TD> <TD align="right"> 65.7 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 175 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Respuesta Ganglios </TD> <TD> Completa </TD> <TD align="right"> 87 </TD> <TD align="right"> 50.0 </TD> <TD align="right"> 50.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Residual </TD> <TD align="right"> 87 </TD> <TD align="right"> 50.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 174 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Radioterapia </TD> <TD> No </TD> <TD align="right"> 176 </TD> <TD align="right"> 38.1 </TD> <TD align="right"> 38.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Si </TD> <TD align="right"> 286 </TD> <TD align="right"> 61.9 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 462 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Homonoterapia </TD> <TD> No </TD> <TD align="right"> 202 </TD> <TD align="right"> 43.8 </TD> <TD align="right"> 43.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Si </TD> <TD align="right"> 259 </TD> <TD align="right"> 56.2 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 461 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Tipo HT </TD> <TD> Ablacion ovarica + TMX </TD> <TD align="right"> 8 </TD> <TD align="right"> 3.1 </TD> <TD align="right"> 3.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> IA </TD> <TD align="right"> 81 </TD> <TD align="right"> 31.6 </TD> <TD align="right"> 34.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> TMX </TD> <TD align="right"> 148 </TD> <TD align="right"> 57.8 </TD> <TD align="right"> 92.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> TMX-IA </TD> <TD align="right"> 19 </TD> <TD align="right"> 7.4 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 256 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Recurrencia </TD> <TD> No </TD> <TD align="right"> 305 </TD> <TD align="right"> 67.6 </TD> <TD align="right"> 67.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Si </TD> <TD align="right"> 146 </TD> <TD align="right"> 32.4 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 451 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> 1er Sitio Recurrencia </TD> <TD> Higado </TD> <TD align="right"> 15 </TD> <TD align="right"> 10.1 </TD> <TD align="right"> 10.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Hueso </TD> <TD align="right"> 24 </TD> <TD align="right"> 16.2 </TD> <TD align="right"> 26.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> Otros </TD> <TD align="right"> 16 </TD> <TD align="right"> 10.8 </TD> <TD align="right"> 37.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> Partes blandas </TD> <TD align="right"> 48 </TD> <TD align="right"> 32.4 </TD> <TD align="right"> 69.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Pulmon </TD> <TD align="right"> 28 </TD> <TD align="right"> 18.9 </TD> <TD align="right"> 88.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> SNC </TD> <TD align="right"> 17 </TD> <TD align="right"> 11.5 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 148 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> 2do Sitio Recurrencia </TD> <TD> Higado </TD> <TD align="right"> 18 </TD> <TD align="right"> 22.5 </TD> <TD align="right"> 22.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> Hueso </TD> <TD align="right"> 13 </TD> <TD align="right"> 16.2 </TD> <TD align="right"> 38.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Otros </TD> <TD align="right"> 3 </TD> <TD align="right"> 3.8 </TD> <TD align="right"> 42.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> Partes blandas </TD> <TD align="right"> 9 </TD> <TD align="right"> 11.2 </TD> <TD align="right"> 53.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Pulmon </TD> <TD align="right"> 21 </TD> <TD align="right"> 26.2 </TD> <TD align="right"> 80.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> SNC </TD> <TD align="right"> 16 </TD> <TD align="right"> 20.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 80 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> 3er Sitio Recurrencia </TD> <TD> Higado </TD> <TD align="right"> 7 </TD> <TD align="right"> 15.9 </TD> <TD align="right"> 15.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> Hueso </TD> <TD align="right"> 12 </TD> <TD align="right"> 27.3 </TD> <TD align="right"> 43.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> Otros </TD> <TD align="right"> 4 </TD> <TD align="right"> 9.1 </TD> <TD align="right"> 52.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> Partes blandas </TD> <TD align="right"> 11 </TD> <TD align="right"> 25.0 </TD> <TD align="right"> 77.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> Pulmon </TD> <TD align="right"> 5 </TD> <TD align="right"> 11.4 </TD> <TD align="right"> 88.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> SNC </TD> <TD align="right"> 5 </TD> <TD align="right"> 11.4 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 44 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Paliativo </TD> <TD> No </TD> <TD align="right"> 123 </TD> <TD align="right"> 45.2 </TD> <TD align="right"> 45.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> Si </TD> <TD align="right"> 149 </TD> <TD align="right"> 54.8 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 272 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Tipo Paliativo </TD> <TD> Cirugia </TD> <TD align="right"> 2 </TD> <TD align="right"> 1.4 </TD> <TD align="right"> 1.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> Hormonoterapia </TD> <TD align="right"> 11 </TD> <TD align="right"> 7.4 </TD> <TD align="right"> 8.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Quimioterapia </TD> <TD align="right"> 125 </TD> <TD align="right"> 84.5 </TD> <TD align="right"> 93.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> Radioterapia </TD> <TD align="right"> 10 </TD> <TD align="right"> 6.8 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 148 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Esquema 1a Linea </TD> <TD> 20Gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 0.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> 30 GY </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 1.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> 30gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 2.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> 800 </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 2.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> ADRI-IFOS-MESNA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 3.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> arimidex/zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 4.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> AROMASIN </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 4.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> CAPACITABINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 5.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> CAPECITABINE/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 6.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 6.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP-GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 7.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP GEMZAR -XELO18.11.2010 </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 8.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/DOCETAXEL </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 8.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/Gemzar </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 9.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 10.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/GMZ </TD> <TD align="right"> 2 </TD> <TD align="right"> 1.3 </TD> <TD align="right"> 11.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/TXL </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 12.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP-NVB-HERCEPTIN </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 12.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/ADR </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 13.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/ADR-CDDP/TAXOL </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 14.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> cddp/gemzar </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 14.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 15.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/gemzar/Taxol </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 16.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> cddp/gmz </TD> <TD align="right"> 3 </TD> <TD align="right"> 2.0 </TD> <TD align="right"> 18.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/GMZ </TD> <TD align="right"> 3 </TD> <TD align="right"> 2.0 </TD> <TD align="right"> 20.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/GMZ/HC </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 20.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/HERCEPTIN+RT </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 21.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> cddp/nbv/hc/qx/rt </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 22.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/NVB </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 22.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> cddp/paclitaxel </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 23.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/rt </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 24.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> cddp/rt/fac/taxol </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 24.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/TAXOL </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 25.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> cddp/txl </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 26.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/VINORELBINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 26.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> cddp/vp16 </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 27.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 28.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> DECE-BEVAC </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 28.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> decetaxel </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 29.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> DOCE-CBP </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 30.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> DOCETAXEL </TD> <TD align="right"> 3 </TD> <TD align="right"> 2.0 </TD> <TD align="right"> 32.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> DOCETAXEL/CARBO/HERCEPTIN </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 32.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Docetaxel/hc/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 33.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> docetaxel/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 34.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> ESCISIoN AMPLIA + RT </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 34.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> EXEMESTANE </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 35.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> EXEMESTANO </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 36.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> EXEMESTANO-ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 36.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> exemestano /zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 37.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> fac </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 38.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> FAC </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 38.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> FAC-T </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 39.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> fac-taxol </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 40.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> fac/taxol </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 40.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> fac/txl </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 41.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> FAC/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 42.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> gem-cddp </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 42.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> GEMZAR-CARBO </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 43.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> gemzar /5fu/dexa </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 44.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> GEMZAR/NAVELBINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 44.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> gmz/cbp </TD> <TD align="right"> 2 </TD> <TD align="right"> 1.3 </TD> <TD align="right"> 46.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> gmz/nbv </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 46.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> HC/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 47.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> herceptin/capasitabine </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 48.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> IA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 48.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> IA+RT </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 49.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> LapatinIb/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 50.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> LAPATINIB/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 50.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> LETROZOL </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 51.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> letrozol/zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 52.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> LETROZOL/zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 52.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> LEUPROLIDE/ARIMEX </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 53.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> nvb/docetaxel </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 54.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> NVB/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 54.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> pacli-trastu </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 55.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Radioneurocirugia 11GY </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 56.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> Radioterapia 20Gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 57.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Radioterapia 30Gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 57.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> RT CRaNEO </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 58.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> rt/30gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 59.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> rt/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 59.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> RT/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 60.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> SONDA ENDOPLEURAL </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 61.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> T-FAC </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 61.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXO-GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 62.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxol </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 63.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOL/ADRI </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 63.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxol/adria </TD> <TD align="right"> 2 </TD> <TD align="right"> 1.3 </TD> <TD align="right"> 65.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxol/cddp </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 65.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxol/cddp/rt </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 66.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOL/CEENU/TALODOMIDA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 67.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxol/rt/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 67.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOTERE /BEVACIZUMAB </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 68.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> tmx </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 69.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> xelo-letro-zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 69.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELO-ZOME </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 70.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda </TD> <TD align="right"> 5 </TD> <TD align="right"> 3.4 </TD> <TD align="right"> 73.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> Xeloda </TD> <TD align="right"> 3 </TD> <TD align="right"> 2.0 </TD> <TD align="right"> 75.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA </TD> <TD align="right"> 9 </TD> <TD align="right"> 6.0 </TD> <TD align="right"> 81.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA-CARBO-GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 82.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA-FEMARA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 83.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA-IA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 83.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA /DOCETAXEL </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 84.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda /taxotere </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 85.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA /TRASTUZUMAB </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 85.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA NVB </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 86.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda/arimidex/decetaxel </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 87.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/EXEMESTANO </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 87.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/FEMARA </TD> <TD align="right"> 2 </TD> <TD align="right"> 1.3 </TD> <TD align="right"> 89.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Xeloda/femara/zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 89.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Xeloda/GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 90.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> Xeloda/herceptin/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 91.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Xeloda/Herceptin/zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 91.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/IA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 92.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda/rt </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 93.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/TAXOTERE </TD> <TD align="right"> 2 </TD> <TD align="right"> 1.3 </TD> <TD align="right"> 94.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> XEloda/Zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 95.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 95.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> zometa </TD> <TD align="right"> 2 </TD> <TD align="right"> 1.3 </TD> <TD align="right"> 97.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 97.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> zometa /exemestano </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 98.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> zometa /femara </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 99.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> zometa/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.7 </TD> <TD align="right"> 99.9 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 149 </TD> <TD align="right"> 99.9 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Respuesta 1a Linea </TD> <TD> Enfermedad Estable </TD> <TD align="right"> 41 </TD> <TD align="right"> 30.6 </TD> <TD align="right"> 30.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Progresion </TD> <TD align="right"> 79 </TD> <TD align="right"> 59.0 </TD> <TD align="right"> 89.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Respuesta completa </TD> <TD align="right"> 10 </TD> <TD align="right"> 7.5 </TD> <TD align="right"> 97.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Respuesta parcial </TD> <TD align="right"> 4 </TD> <TD align="right"> 3.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 134 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Esquema 2a Linea </TD> <TD> adriamicina </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 1.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> aromasin </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 2.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> capacitabina </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 3.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CAPACITABINE/DOCETAXEL </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 4.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CAPECITABINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 5.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP-NUB </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 6.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/NVB </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 7.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/TXL </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 8.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 9.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/GEMZAR </TD> <TD align="right"> 2 </TD> <TD align="right"> 2.0 </TD> <TD align="right"> 11.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CDDP/GMZ/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 12.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> cddp/nvb </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 13.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CICLOFOSFAMIDA/MMC </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 14.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> cispla. </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 15.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CMz/cbp </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 16.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> DOCETAXEL </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 17.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> DOCETAXEL /XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 18.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> DOCETAXEL/CARBOPLATINO </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 19.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> DOCETAXEL/GMZ </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 20.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> exemestano/gemcitabine </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 21.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> exemestanos </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 22.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> fulvestran </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 23.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> GEMZAR/CDDP+Rt </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 24.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> GENCI-CBP </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 25.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> GMZ/5FU </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 26.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> hc/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 27.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Herceptin/xeloda/taxol/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 28.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> lapatinib/xelosa </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 29.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> letrozol </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 30.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> letrozol/zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 31.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> metrotexate </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 32.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> MRM+PACLITAXEL/TRASTUZUMAB </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 33.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> PACLI/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 34.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> PLATINO /GMZ/MILEX/HC </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 35.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> platino/gmz </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 36.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> PLATINOGEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 37.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> RADIOCx + XELODA/IA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 38.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> RADIOTERAPIA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 39.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Radioterapia 20Gy </TD> <TD align="right"> 2 </TD> <TD align="right"> 2.0 </TD> <TD align="right"> 41.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Radioterapia 24gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 42.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Radioterapia 800Gy/ccdp </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 43.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Radioterapia 8Gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 44.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> RT </TD> <TD align="right"> 2 </TD> <TD align="right"> 2.0 </TD> <TD align="right"> 46.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> RT-20 </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 47.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> RT-45 </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 48.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Rt 16 Gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 49.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Rt CRaNEO 30Gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 50.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxo-zome-docecarbo-gemzar </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 51.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxol </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 52.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOTERE /AVASTIN </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 53.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOTERE/CDDP </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 54.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOTERE/GEMCITABINA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 55.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxotere/gemzar </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 56.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxotere/zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 57.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> TCH </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 58.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> TEMODAL/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 59.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> temozolamida </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 60.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> trastu-xelo </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 61.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> TXT/NVB/Herceptin </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 62.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELO-CBP-NAVELBINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 63.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELO/C </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 64.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda </TD> <TD align="right"> 7 </TD> <TD align="right"> 7.0 </TD> <TD align="right"> 71.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Xeloda </TD> <TD align="right"> 2 </TD> <TD align="right"> 2.0 </TD> <TD align="right"> 73.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA </TD> <TD align="right"> 5 </TD> <TD align="right"> 5.0 </TD> <TD align="right"> 78.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda-cddp </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 79.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA-GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 80.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA-ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 81.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA /GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 82.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA /NBV </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 83.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA /VINORELBINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 84.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda /zometa/letrozol </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 85.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/CARBO/AROMASIN </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 86.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda/cbp/taxotere </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 87.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda/cddp/nvb </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 88.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/DOCETAXEL </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 89.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/DOCETAXEL/HERCEPTIN/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 90.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/EXEMESTANO </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 91.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda/exemestano/zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 92.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/HC </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 93.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda/navelbine </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 94.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda/nvb </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 95.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/NVB/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 96.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 97.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 98.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> ZOMETA/ANASTROZOL </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 99.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> ZOMETA/HC </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 100 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Respuesta 2a Linea </TD> <TD> Enfermedad Estable </TD> <TD align="right"> 27 </TD> <TD align="right"> 31.0 </TD> <TD align="right"> 31.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Progresion </TD> <TD align="right"> 56 </TD> <TD align="right"> 64.4 </TD> <TD align="right"> 95.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> Respuesta completa </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.1 </TD> <TD align="right"> 96.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Respuesta parcial </TD> <TD align="right"> 3 </TD> <TD align="right"> 3.4 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 87 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Esquema 3a Linea </TD> <TD> adri/gmz/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 1.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> ADRIAMICINA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 3.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> anastrozol/zometa </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 4.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> capacitabine/herceptin </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 6.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CARBO-DOCE-ZOME </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 7.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/NVB </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 8.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> cbp/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 10.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> CBP/XELODA/IA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 11.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> CFA/CBP/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 13.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> ciclofosfamida /adria </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 14.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> cmf </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 16.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> docetaxel </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 17.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> DOCETAXEL /ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 19.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> docetaxel/capacitabine </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 20.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> DOCETAXEL/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 22.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> FEMARA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 23.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 25.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> gemzar/cbp/xeloda </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 26.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> GEMZAR/NAVELBINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 28.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> GMZ/CDDP </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 29.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> GMZ/NVB </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 31.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> herceptim </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 32.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> LAPATINIB/XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 34.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> letrozol </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 35.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> mitomicina/rt </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 37.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> MMC-CICLOFOSFAMIDA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 38.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> MTX/CFA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 40.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> NAVELBINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 41.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> NBV </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 43.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> NVB-CDDP </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 44.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> PALIATIVOS </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 46.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> quimio /rt </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 47.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> rt </TD> <TD align="right"> 4 </TD> <TD align="right"> 6.0 </TD> <TD align="right"> 53.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> RT-1000 </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 55.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> RT-20 </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 56.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> RT 20Gy CRaNEO </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 58.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXO-GEMZAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 59.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOL </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 61.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOL/GMZ </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 62.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxotere </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 64.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOTERE /GEMZAR/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 65.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> taxotere/gemzar </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 67.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOTERE/HERCEPTIN/NVB/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 68.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> TAXOTERE/PAMIGEN </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 70.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> tmx/xeloda/femara </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 71.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> TMX+ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 73.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELO-CARBO </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 74.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 76.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA-CBP </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 77.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA-NAVELBINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 79.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA /NVB </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 80.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA /TEMODAL/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 82.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Xeloda/Cisplatino </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 83.5 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/DOCETAXEL </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 84.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/FEMARA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 86.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> Xeloda/femarametrotexate </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 87.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda/gemzar </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 89.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/HERCEPTIN/CBP/MTX </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 90.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> xeloda/rt 8gy </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 92.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/VINERALBINE </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 93.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA/ZOMETA </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 95.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELOda/zometa /vinorelbine </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 96.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> XELODA+Rt </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 98.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> ZOMETA+RT </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.5 </TD> <TD align="right"> 99.8 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 67 </TD> <TD align="right"> 99.8 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Respuesta 3a Linea </TD> <TD> Enfermedad Estable </TD> <TD align="right"> 16 </TD> <TD align="right"> 29.6 </TD> <TD align="right"> 29.6 </TD> </TR>
  <TR> <TD>  </TD> <TD> Progresion </TD> <TD align="right"> 36 </TD> <TD align="right"> 66.7 </TD> <TD align="right"> 96.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> Respuesta completa </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.8 </TD> <TD align="right"> 98.2 </TD> </TR>
  <TR> <TD>  </TD> <TD> Respuesta parcial </TD> <TD align="right"> 1 </TD> <TD align="right"> 1.8 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 54 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Mas de 3 Lineas </TD> <TD> No </TD> <TD align="right"> 8 </TD> <TD align="right"> 17.4 </TD> <TD align="right"> 17.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> Si </TD> <TD align="right"> 38 </TD> <TD align="right"> 82.6 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 46 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Estado Actual </TD> <TD> Muerta </TD> <TD align="right"> 130 </TD> <TD align="right"> 27.8 </TD> <TD align="right"> 27.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Perdidas </TD> <TD align="right"> 51 </TD> <TD align="right"> 10.9 </TD> <TD align="right"> 38.8 </TD> </TR>
  <TR> <TD>  </TD> <TD> Viva </TD> <TD align="right"> 286 </TD> <TD align="right"> 61.2 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 467 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Muerte Por Cancer </TD> <TD> no </TD> <TD align="right"> 4 </TD> <TD align="right"> 2.4 </TD> <TD align="right"> 2.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> si </TD> <TD align="right"> 101 </TD> <TD align="right"> 62.0 </TD> <TD align="right"> 64.4 </TD> </TR>
  <TR> <TD>  </TD> <TD> x </TD> <TD align="right"> 58 </TD> <TD align="right"> 35.6 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 163 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Capturista </TD> <TD> . </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.3 </TD> <TD align="right"> 0.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> domicilio </TD> <TD align="right"> 1 </TD> <TD align="right"> 0.3 </TD> <TD align="right"> 0.7 </TD> </TR>
  <TR> <TD>  </TD> <TD> Julie </TD> <TD align="right"> 175 </TD> <TD align="right"> 61.6 </TD> <TD align="right"> 62.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> Victor_rev </TD> <TD align="right"> 107 </TD> <TD align="right"> 37.7 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 284 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> Observaciones1 </TD> <TD> ADENOCARCINOMA GaSTRICO </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 4.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> APLASIA POSTQUIMIO </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 8.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CARCINOMA EPIDERMOIDE, DUDOSO 1° MAMA </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 12.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> CONTINUA Tx EN IMSS </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 16.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> focos mi </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 20.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Focos mi </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 24.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> FOCOS MI </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 28.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> FOCOS MICROSCOPICOS </TD> <TD align="right"> 5 </TD> <TD align="right"> 20.0 </TD> <TD align="right"> 48.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> focosmicroscopicos </TD> <TD align="right"> 3 </TD> <TD align="right"> 12.0 </TD> <TD align="right"> 60.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> musinoso no regreso </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 64.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> NO RECIBE Tx EN EL INSTITUTO </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 68.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> no regreso </TD> <TD align="right"> 2 </TD> <TD align="right"> 8.0 </TD> <TD align="right"> 76.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Producto de tumorectomia de mama izq. </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 80.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> SEGUNDO 1°: SARCOMA FUSOCELULAR </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 84.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> SEGUNDO PRIMARIO DE MAMA </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 88.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> SoLO ASISTIo A 1° CONSULTA </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 92.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> solo asistio a la 1° consulta </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 96.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Tx FINC </TD> <TD align="right"> 1 </TD> <TD align="right"> 4.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 25 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> HER2 </TD> <TD> Negativo </TD> <TD align="right"> 317 </TD> <TD align="right"> 70.9 </TD> <TD align="right"> 70.9 </TD> </TR>
  <TR> <TD>  </TD> <TD> Postivo </TD> <TD align="right"> 130 </TD> <TD align="right"> 29.1 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 447 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> RE </TD> <TD> Negativo </TD> <TD align="right"> 166 </TD> <TD align="right"> 37.0 </TD> <TD align="right"> 37.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> Postivo </TD> <TD align="right"> 283 </TD> <TD align="right"> 63.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 449 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> RP </TD> <TD> Negativo </TD> <TD align="right"> 256 </TD> <TD align="right"> 57.3 </TD> <TD align="right"> 57.3 </TD> </TR>
  <TR> <TD>  </TD> <TD> Positivo </TD> <TD align="right"> 191 </TD> <TD align="right"> 42.7 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 447 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> TN </TD> <TD> FALSE </TD> <TD align="right"> 359 </TD> <TD align="right"> 80.0 </TD> <TD align="right"> 80.0 </TD> </TR>
  <TR> <TD>  </TD> <TD> TRUE </TD> <TD align="right"> 90 </TD> <TD align="right"> 20.0 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 449 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <TR> <TD> RPC </TD> <TD> Completa </TD> <TD align="right"> 46 </TD> <TD align="right"> 26.1 </TD> <TD align="right"> 26.1 </TD> </TR>
  <TR> <TD>  </TD> <TD> Residual </TD> <TD align="right"> 130 </TD> <TD align="right"> 73.9 </TD> <TD align="right"> 100.0 </TD> </TR>
   <TR> <TD>  </TD> <TD> all </TD> <TD align="right"> 176 </TD> <TD align="right"> 100.0 </TD> <TD align="right">  </TD> </TR>
   <A NAME=></A>
\end{longtable}
</TABLE>